.roomsPage__main--banner {
  text-align: center;
  min-height: 60vh;
  background-image: url(https://live.staticflickr.com/65535/51278416803_1d4edb7e10_o.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-position: center center;
}
.roomsPage__main {
  position: relative;
}
.roomsPage__main--banner::before {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 585;
}
.roomsPage__main--content {
  min-height: 100vh;
  background-color: #f9f1e4;
}
.container-fluid {
  padding: 0;
}
.roomsPage__content--wrap .search__booking {
  margin-top: 0 !important;
  margin-bottom: 5rem;
}
.roomsPage__content--wrap {
  text-align: center;
}
#video {
  padding: 0 !important;
}
