.profiel__page--body img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #e6aa32;
  box-shadow: 5px 5px 5px #61450d;
  margin-bottom: 1rem;
}

.profile__page {
  padding: 0;
  padding-bottom: 2rem;
  background-color: #e2e8f0;
}
.profile__page .btn-danger {
  border-radius: 15px;
  transition: all 0.5s;
}

.profile__page .btn-danger:hover {
  background: none;
  border: 1px solid red;
  color: red;
}
.profile_left {
  border-radius: 15px;

  background-color: white;
  text-align: center;
}
.profile__main {
  border-radius: 15px;

  background-color: white;
}
.profile__main input {
  background: none;
  border: none;
}
.profile__main button {
  background: none;
  border: 1px solid black;
  color: black;
  border-radius: 15px;
}

.history__booking {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
}
.history__booking_main {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .profile__main {
    margin: 0 !important;
  }
  .profile__main .history__booking {
    width: 768px !important;
    overflow-x: scroll !important;
  }
}
