.me-reply_wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  justify-content: flex-end;
  & > span {
    background: rgba(0, 0, 0, 0.09);
    margin-right: 10px;
  }
  .cb-meReply {
    margin-right: 10px;
    max-width: 170px;
   
    min-height: 30px;
    background: #1B74E4;
    color: white;
    position: relative;
    border-radius: 10px;
    padding: 5px;
    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid #1B74E4;
      border-bottom: 10px solid transparent;
      top: 7px;
      right: -8px;
    }
  }
}
