$btnActive: #f45b0f;

.admin-header {
  .information {
    margin-right: 50px;
    position: relative;
    &:hover {
      .info-action {
        display: block;
      }
    }
  }
  .info-action {
    width: 200px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: -270%;
    display: none;
    text-align: center;
    p{
      margin-bottom: 5px;
    }
    button{
      outline: none;
      border: 1px solid #f45b0f;
      border-radius: 5px;
      background: none;
      color: black;
      transition: all 0.25s;
      &:hover{
        color: #f45b0f;
        background-color: white;
      }
    }
  }
  #hr {
    margin: 0 !important;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  .admin-title {
    font-size: 150%;
    margin-left: 32px;
  }
  .admin-action-header {
    display: flex;
    justify-content: end;
    align-items: center;
    .notification-admin {
      svg {
        width: 24px;
        height: 24px;
      }
      margin: 0 16px;
    }
    .message-admin {
      svg {
        width: 24px;
        height: 24px;
      }
      margin: 0 16px;
    }

    .notification-admin,
    .message-admin {
      position: relative;
      & > span {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: $btnActive;
        min-width: 16px;
        min-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60%;
        color: white;
        border-radius: 50%;
      }
    }
    .avatar-admin {
      margin: 24px 16px 16px 0;
    }
  }
}
