/* ? style for header */
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.main_h {
  position: fixed;
  top: -100px;
  max-height: 70px;
  font-family: "Montserrat", sans-serif;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 6px;
  background: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
  .roomsPage__content--wrap .card {
    flex-direction: column !important;
    max-height: 100vh !important;
  }
  .roomsPage__content--wrap .card .img {
    max-height: 120px;
  }
  .roomsPage__content--wrap .card .img,
  .roomsPage__content--wrap .card .card-body {
    width: 100%;
    overflow: hidden;
  }
  .roomsPage__content--wrap li {
    font-size: 90%;
  }
  .roomsPage__content--wrap .card img {
    width: 100%;
  }
  .roomsPage__content--wrap .card p,
  .roomsPage__content--wrap .card h4,
  .roomsPage__content--wrap .card h5 {
    font-size: 75%;
  }
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  /* background: none; */

  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
.transparent {
  background: none;
}
.transparent a {
  color: white;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  display: flex;
}

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  display: flex;
  margin-left: auto;
  justify-content: space-evenly;
}

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  header {
    overflow: hidden;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

/*? /// footer */

iframe {
  border: none;
  width: 100%;
  min-height: 400px;
}
.footer__maping__wrapcontact {
  text-align: center;
  background-color: rgba(17, 9, 9, 0.781);
  top: 0;
  padding-top: 2rem;
}
footer.container-fluid {
  padding: 0;
}
.footer__maping__wrapcontact h3 {
  color: #e6aa32;
}
.footer__maping__wrapcontact p {
  color: white;
}
.footer__bottom {
  padding: 4rem 0;
  color: white;
  background-color: #2b2b2b;
}
footer img {
  width: 50%;
  padding-bottom: 2rem;
}
.footer__bottom h3 {
  margin-bottom: 4rem;
}
footer ul {
  list-style: none;
}

footer ul li::before {
  content: "\2022";
  color: #e6aa32;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
