.roomDetail__container {
  padding: 3rem 0;
  background-color: #f8f0e3;
  color: #6e6c6c;
}
.roomDetail__description table th,
.roomDetail__description table td {
  font-weight: normal;
  text-align: start;
  color: #555252;
}
.roomDetail__description .fa-check-circle {
  color: #cb9734;
}
.progress {
  margin-bottom: 0.5rem;
  background-color: #555252bd;
}
.progress-bar {
  background-color: #cb9734;
  height: 30px;
}
.Pricing__deals {
  text-align: center;
  background-color: #272727;
  padding: 2rem 0;
}
.Pricing__deals .subtitle {
  color: white;
}
.roomViewed {
  background-color: #f8f0e3;
  text-align: center;
  padding: 3rem 0;
}
.veiwed-slide-item {
  position: relative;
  z-index: 0;
  height: 500px;
}
.veiwed-slide-name {
  width: 100%;
  height: 0%;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: #555252b9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  overflow: hidden;
}
.veiwed-slide-item h2 {
  font-size: 300% !important;
}
.veiwed-slide-item:hover .veiwed-slide-name {
  height: 100%;
}
.veiwed-slide-item img {
  z-index: 2;
  width: 100%;
  height: 100%;
}
