@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1024px) {
  .gem-wrapbox-element {
    width: 30% !important;
  }
}

body {
  font-size: 16px !important;
  position: relative;
}
.ant-popover-buttons .ant-btn {
  height: 25px !important;
}
